@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22d4fd;
    --color-enlaces: #0000FF;
    --color-hover: #054605;

    --fuente-montserrat: "Montserrat",sans-serif;
    --fuente-krona: "Krona One",sans-serif;
}

*{
    margin: 0;
    padding: 0;
 }

 .header{
    padding: 2% 0% 0% 15%;
 }

 .header__menu {
    display: flex;
    gap: 80px;

}

 .header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.header__menu__link:hover {
    color: var(--color-enlaces);
}


body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

span{
    color: var(--color-terciario);
    font-weight: bold;
    font-size: 1.5625rem;
    font-family: var(--fuente-montserrat);
    padding-bottom: 20px;
    text-align: center;
}

.presentacion{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido
{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.presentacion__contenido__titulo
{
    font-family: var(--fuente-krona);
    font-size: 1.875rem;
    color:var(--color-enlaces);
    text-align: justify;
    align-self: center;
}

.presentacion__contenido__texto
{
    font-family: var(--fuente-montserrat);
    font-size: 1.875rem;
    padding-bottom: 20px;
    text-align: center;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 1.125rem;
    margin: 5px;
    border-radius: 5px;
    color: var(--color-secundario);
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.presentacion__enlaces_link{
     /* background-color: #22D4FD; */ /* Código comentado */
    text-align: center;
    padding: 21.5px 20px;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    color:var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center; 
    gap: 16px;

}

.presentacion__enlaces_link:hover{
    border: 2px solid var(--color-enlaces);
    background-color: var(--color-hover);
    cursor: pointer;

    /* background-color: blue; */
    /* padding: 3%; */
}

.presentacion__contenido__subtitulo{
    font-family: var(--fuente-krona);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

span:hover{
    background-color: var(--color-hover);
    text-align: center;
}


footer
{
    padding: 24px;
    color: var(--color-primario);
    background-color: var(--color-terciario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.25rem;
    font-weight: 400;
    width: auto;
}

.presentacion__contenido__articulo{
    width: 100%;
    padding: 10px 0px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    color: var(--color-secundario);
    text-align: justify;
}

.presentacion__contenido__educacion{
    margin-left: 20px;
    font-family: var(--fuente-montserrat);
    font-size: 1.125rem;
    text-align: justify;    
    margin-top: 10px;
}

.presentacion__contenido__perfil{
    font-family: var(--fuente-montserrat);
    font-size: 1.25rem;
    text-align: justify;
    line-height: 1.2em; 

}

.presentacion__contenido__cv{
    width: 100%;
}

.items{
    padding-bottom: 10px;
}

.presentacion__contenido__categoria{
    font-family: var(--fuente-montserrat);
    color: var(--color-enlaces);
    font-size: 1.625rem;
}

.alura{
    text-decoration: none;
    color: var(--color-enlaces);
}

strong{
    text-decoration: none;
    color:var(--color-terciario);
}

.presentacion__contenido__experiencia{
    margin-left: 20px;
    font-family: var(--fuente-montserrat);
    font-size: 1.125rem;
    text-align: justify;    
    margin-top: 10px;   
}

.presentacion__contenido__cursos{
    margin-left: 20px;
    font-family: var(--fuente-montserrat);
    font-size: 1.125rem;
    text-align: justify;    
    margin-top: 10px;   
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: var(--color-primario);
}

.gallery-item {
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item p {
    margin: 0;
    padding: 10px;
    background-color: var(--color-primario);
}

.proyectos{
    color: var(--color-terciario);
    font-size: 150%;

}

@media (max-width: 1200px){

    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }

    .header__menu__link{
        font-size: 1rem;
    }


    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido{
        width: auto;
    }

    .presentacion__contenido__titulo{
        font-size: 1.125rem;
        padding-bottom: 10px;
        text-align: center;

    }

    .presentacion__contenido__texto{
        font-size: 1rem;
        text-align: justify;
    }

    .presentacion__contenido__subtitulo{
        font-size: 1rem;
    }

    
    .presentacion__enlaces{
        font-size: 1.25rem;

    }


    .presentacion__enlaces_link{
        font-size: 1.25rem;

    }

    .presentacion__contenido__articulo{
        width: 95%;
        font-size: 1.25rem;
    }    

    .presentacion__imagen{
        width: 100%;
    }



    


}